* {
	box-sizing: border-box;
}


body {
	margin: 20px 0;
	background-color: #373737;
	font-family: 'Viga', sans-serif;
	font-weight: normal;
	font-size: 12px;
	box-sizing: border-box;
}

.container-fluid {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after {
	display: table;
	content: "";
}

.container-fluid:after,
.row:after {
	clear: both;
}

.row {
	margin-right: 15px;
	margin-left: 15px;
}

.row:after {
	display: table;
	content: "";
}

.col-md-4 {
	position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
 
.col-md-4 {
	float: left;
	width: 33.33333333%;
}

.grid__item {
	width:100%;
}

.grid__item table {
	width: 100%;
	table-layout: fixed;
}

/*Table Styles*/
table {
  margin-bottom: 1em;
  border-spacing: 0;
  border: 0px solid;
  border-style: none;
  background-color: #fff;
}

table th, table td {
  padding: 1em;
  text-align: center;
}

thead tr th {
	background-color: #00745e;
	color: white;
	font-size: 12px;
	font-weight: bold;
}

table tr th img {
	float: right;
}

table td {
	font-size: 11px;
	border: 1px solid #ccc;
}

.panel {
	display: none;
}

.panel-image {
	width: 100%;
}

.toggle {
	display: block;
	float: right;
	background-image: url('../EPL-Static/images/soccer.png');
	height: 20px;
	width: 16px;
}

.toggle:hover {
	background-image: url('../EPL-Static/images/soccer-black.png');
}

/*display meta data styles*/
table dl {
	margin: 0;
	padding:0;
	overflow: hidden;
	width: 100%;
}

table dt {
	float:left;
	width: 50%;
	font-size: 10px;
	text-align: left;
}

table dd {
	font-size: 10px;
	width: 50%;
	overflow: hidden;
	text-align: left;
}



@media (max-width: 932px) {
	.col-md-4 {
		width: 100%;
	}



}



